<!DOCTYPE html>
{%load staticfiles%}

<html lang="en">
<head>
  <title>Repair shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<body>
    {% load staticfiles%}
    <!DOCTYPE html>
    
    
    <html lang="en">
    <head>
    <title>Repair</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travello template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{%static "styles/bootstrap4/bootstrap.min.css" %}">
    <link href="{%static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{%static "plugins/OwlCarousel2-2.2.1/owl.carousel.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "plugins/OwlCarousel2-2.2.1/owl.theme.default.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "plugins/OwlCarousel2-2.2.1/animate.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "styles/main_styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "styles/responsive.css" %}">
    </head>
    <body>
    
    <div class="super_container">
        
        <!-- Header -->
    
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start navbar-dark bg-dark navbar-expand-sm ">
                            <div class="header_content_inner d-flex flex-row align-items-end justify-content-start ">
                                <div class="logo"><a href="/">Repair</a></div>
                                
                                <div class="header_phone ml-auto">Call us: +1-9999</div>
    
                                <!-- Hamburger -->
    
                                <div class="hamburger ml-auto">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </header>
    
        <!-- Menu -->
    
        

        <br>  <br>
        <br>
        
        
        <br>
        <br>
        <br>
        <br>
        
        <div class="container"><br>
                
            <div class="col-lg-6 m-auto d-block">
                   <div text-color="black"> <p>
                            Basic:Includes only Travel, Rooms<br>
                            Premium:Includes Travel, Food, Rooms
                        </p>
                    </div>
                <form action="booking" method="post" >
                     {% csrf_token %}
                        <div class="form-group">
                               
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Plan
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                      </div>
                                      <br>
                                
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Select here
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                                 <br>
                                  <div class="form-group">
                                    
                                    <input type="text" class="form-control" name="adults" placeholder="Adults" >
                                    
                                </div> 
                                
                                  <div class="form-group">
                                    
                                    <input type="text" class="form-control" name="children" placeholder="children 6-12" >
                                    
                                </div>       
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Available dates
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                    
                    
                    


                    </div>
                    <div align="center">
                    <input type="reset" name="Reset" value="Reset" class="btn btn-primary">&nbsp;&nbsp;
                    <input type="submit" name="Book" value="Book" class="btn btn-success">
                </div>
                    </form>
                    </div>
                    </div>
                    
                   
                    <br>
                   <div>
                       {% for message in messages%}
                          <h3>{{message}}</h3>
                        {% endfor %}
                        </div> 
                   
                   
                        <div align="center">
                        Already a member <a href="/login/log">Login</a> 
                   </div> 
    

     
        
            
</body>
</html>